@page "/login"
@using Blazor_Markedsplads.Models
@using Blazor_Markedsplads.Components
@using Blazor_Markedsplads.Services
@inject ProtectedSessionStorage SessionStorage 


@rendermode InteractiveServer
@inject LoginService loginService
@inject SessionService SessionService
@inject NavigationManager Navigation


<h3>Customer Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="loginModel.Email" placeholder="Enter your email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" placeholder="Enter your password" />
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top:18px;">Login</button>
   
</EditForm>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}


<style>
    .Title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        border-radius: 50px;
        @*Makes border more circuler*@
        border: 1px solid black;
        background-color: antiquewhite;
        width: 500px;

    }
</style>

@code {
    private LoginModel loginModel = new();
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;

        var customer = await loginService.ValidateLoginAsync(loginModel.Email, loginModel.Password);

        if (customer == null)
        {
            errorMessage = "Invalid email or password.";
            return;
        }
        await SessionStorage.SetAsync("UserEmail", customer.Email);
        SessionService.Login(customer);

        Navigation.NavigateTo("/Profile");
        StateHasChanged();
    }
}