@page "/login"
@using Blazor_Markedsplads.Models
@inject NavigationManager Navigation
@using Blazor_Markedsplads.Services


@rendermode InteractiveServer
@inject LoginService loginService



<h3>User Login</h3>

<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="loginModel.Email" placeholder="Enter your email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="loginModel.Password" placeholder="Enter your password" />
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
   
</EditForm>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger mt-3">@errorMessage</div>
}


@code {
    private LoginModel loginModel = new();
    private string errorMessage = string.Empty;

    private async Task HandleLogin()
    {
        errorMessage = string.Empty;

        
        var (IsValid, IsSeller) = await loginService.ValidateLoginAsync(loginModel.Email, loginModel.Password!);

      if (!IsValid)
        {
            errorMessage = "Invalid email or password.";
            return;
        }
        Navigation.NavigateTo("/");
    }
}