@inject NavigationManager Navigation
@inject ProtectedSessionStorage SessionStorage
@using Blazor_Markedsplads.Components
@using Blazor_Markedsplads.Services
@rendermode InteractiveServer
@inject CartService CartService
 
<div class="top-row ps-3 navbar navbar-dark">
<div class="container-fluid">
<img src="images/logo.png" alt="Illigohol Logo" class="profile-logo" />
</div>

</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
           
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/profile" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 👤 Profile
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/listings" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span>📃 Listings
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/register" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> 👤 Register
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span>🔑 Login
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/create-listing" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> 🍾 Create Listing
            </NavLink>

        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/cart" Match="NavLinkMatch.All">
                🛒 Cart (@itemCount)
            </NavLink>
        </div>

    </nav>
</div>

<style>

.profile-logo {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        margin: 0 auto 10px auto;}
</style>

@code {
    private int itemCount;

    protected override void OnInitialized()
    {
        itemCount = CartService.GetItems().Sum(x => x.Quantity);
        CartService.OnChange += OnCartChangedAsync;
    }

    private Task OnCartChangedAsync()
    {
        itemCount = CartService.GetItems().Sum(x => x.Quantity);
        return InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        CartService.OnChange -= OnCartChangedAsync;
    }
}
